.botonera{
    margin-top: 1rem;
    margin-left: 6.5rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    width: 100%;
}

@media screen and (max-width: 768px){
    .botonera{
        margin-left: 0;
        margin-bottom: 2rem;
        justify-content: space-between;
    }
}

@media screen and (max-width:425px) {
    .botonera{
        flex-direction: column;
        margin-left: 1rem;
    }
}