.salida__textarea{
    margin-top: 1rem;
    width: 90%;
    height: 100%;
    background-image: url(/img/Munieco.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: #0a3871;
    resize: none;
    overflow: hidden;
}

.salida__textarea:focus{
    outline: none;
}

@media screen and (max-width: 768px) {
    .salida__textarea{
        padding-right: 0;
        width:90%;
        background-image: none;
        height: 20vh;
        margin-left: 2.5rem;
    }
}

@media screen and (max-width: 425px) {
    .salida__textarea{
        width: 80%;
    }
}