.salida__copiar{
    color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 1rem;
    cursor: pointer;
    height: 3rem;
    width: 10rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px){
    .salida__copiar{
        bottom: 5rem;
        right: 19rem;
        height: 2rem;
    }
}

@media screen and (max-width: 425px){
    .salida__copiar{
        top: 5rem;
        right: 8.5rem;
        height: 2rem;
    }
}