.salida__consejo{
    position: absolute;
    top: 40rem;
    right: 14rem;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .salida__consejo{
        top: 45rem;
        right: 11rem;
    }
}

@media screen and (max-width: 425px) {
    .salida__consejo{
        top: 46rem;
        right: 3.5rem;
        font-size: 13px;
    }
}