.botonera__encriptar{
    height: 3.5rem;
    width: 15rem;
    background-color: rgb(10, 56, 113, 1);
    color: #ffff;
    border: none;
    border-radius: 10rem;
}

@media screen and (max-width: 768px) {
    .botonera__encriptar{
        width: 19rem;
    }
}

@media screen and (max-width: 425px) {
    .botonera__encriptar{
        width: 22rem;
    }
}