.body{
    margin: 0;
    background-color: rgba(243, 245, 252, 1);
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
}
@media screen and (max-width: 768px){
    .body{
        flex-direction: column;
    }
}
@media screen and (max-width: 425px){
    
}