.entrada{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 15rem;
}

@media screen and (max-width: 768px){
    .entrada{
        margin-right: 4rem;
    }
}

@media screen and (max-width: 425px){
    .entrada{
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}