.salida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffff;
    height: 90vh;
    border-radius: 1rem;
    box-shadow: 10px 34px 42px 10px rgba(0, 0, 0, 0.08);
    width:40rem;
    margin-right: 3rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:768px) {
    .salida{
        width: 90%;
        height: 30vh;
    }
}

@media screen and (max-width:425px) {
    .salida{
        width: 85%;
        height: 30vh;
    }
}