.botonera__desencriptar{
    height: 3.5rem;
    width: 15rem;
    background-color:#dbebff ;
    color: rgb(10, 56, 113, 1);
    border: 1px solid rgb(10, 56, 113, 1);
    border-radius: 10rem;
}

@media screen and (max-width: 768px) {
    .botonera__desencriptar{
        width: 19rem;
    }
}

@media screen and (max-width: 425px) {
    .botonera__desencriptar{
        width: 22rem;
        margin-top: 1rem;
    }
}